<%- include('./header.html') %>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= __('Lista de anuncios') %></h1>
      <p class="lead"><%= __('Listando') %>: <%= anuncios.length %> <%= __('de') %> <%= total %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead><tr>
          <th><%= __('Nombre') %></th>
          <th><%= __('Venta') %></th>
          <th><%= __('Precio') %></th>
          <th><%= __('Foto') %></th>
          <th><%= __('Etiquetas') %></th>
          <th>#</th>
        </tr></thead>
        <tbody>
<% anuncios.forEach(anuncio => { %>
          <tr>
            <td><%= anuncio.nombre %></td>
            <td><%= anuncio.venta ? 'Si' : 'No' %></td>
            <td style="text-align: right"><%= anuncio.precio / 100 %>€</td>
            <td><img src="<%= anuncio.foto %>"></td>
            <td><%= anuncio.tags %></td>
            <td><%= anuncio._id %></td>
          </tr>
<% }) %>
        </tbody>
      </table>

      <p><%= __('Filtros disponibles') %>:</p>

      <ul>
        <li><a href="?"><%= __('Todos') %> (max. 1000)</a></li>
        <li><a href="?start=2&limit=2"><%= __('Paginado') %></a></li>
        <li><a href="?sort=precio"><%= __('Ordenado por precio ascendente') %></a></li>
        <li><a href="?sort=-precio"><%= __('Ordenado por precio descendente') %></a></li>
        <li><a href="?tag=mobile"><%= __('Con etiqueta tag') %></a></li>
      </ul>

    </div>
  </div>

  <a href="/"><%= __('Volver a la home') %></a>

</div>
<%- include('./footer.html') %>
